body
{
	overflow-y:hidden;
}

.train
{
   z-index: 10000;
}

.train_img
{
 position: absolute;
 bottom:0px;
 top:2px;
}

.train_fire
{
   z-index: 10000;
}

.train_fire_gif
{
 position: absolute;
 bottom:0px;
 top:2px;
}


.bird
{
  width:80px;
  height:72px;
}

.deer
{
  width:120px;
  height:80px;
}

.sky
{
  z-index: 4;
  opacity: 0.3;
}

.skyback
{
  position: absolute;
 left:0px;
 bottom:0px;
}

.waterdiv1
{
  z-index: 4;
}

.waterdiv2
{
  z-index: 3;
}

.water1
{
  position: absolute;
 left:0px;
 bottom:0px;
}

.background
{
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: -10;
}

/*.back5
{
  width: 100%;
  height: 100%;
  background: url(../images/sky.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

.back5
{
  background: url(../images/Background5.png) no-repeat center center fixed; 
}

.back4
{
  
  background: url(../images/Background4.png) no-repeat center center fixed; 
  
}

.back3
{
  
  background: url(../images/Background3.png) no-repeat center center fixed; 
  
}

.back2
{
  
  background: url(../images/Background2.png) no-repeat center center fixed; 
  
}

.back1
{
  background: url(../images/Background1.png) no-repeat center center fixed; 
 }

.fullback
{
 position: absolute;
 left:0px;
 bottom:0px;
}

.scene
{
  z-index: 10;
}

.nolinebreak
{
	display: inline;
}

.absolutepos
{
	position: absolute;
}

.windmillwings
{
	
}

.windmillwings {
    -webkit-animation: spin 10s infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

.sun
{
  position: fixed;
  left:455px;
  top:-57px;
  z-index: -51;
}

.clouds
{
  opacity: 0.3;
  z-index:-5;
}

.cloud1
{
  top:160px;
  left:20px;
}

.cloud2
{
  top:10px;
  left:800px;
}

.cloud3
{
  top:80px;
  left:400px;
}

.cloud4
{
  top:10px;
  left:188px;
}

.cloud5
{
  top:150px;
  left:1000px;
}

.invisible
{
    display: none;
}

.visible
{
    display: inherit;
}

.station_light1
{
  z-index: -5
}

.station_light2
{
  z-index: -5
}