<article ng-controller="contactCtrl">
    <style>
    .animatedSVG {
        opacity: 0;
    }
    </style>
    <div class="container-fluid main-content-container">
        <div class="row">
            <div class="col-lg-12 text-center" style="padding:20px !important; margin-top:40 !important;">
                <h1 class="wow slideInDown"><b>CONTACT US</b></h1>
                <hr />
            </div>
        </div>
        <div class="row text-center" style="padding:20px !important;" ng-repeat="member in members track by $index" ng-if="$index % 4 ==0">
            <div class="col-lg-3 col-md-3" ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]">
                <div ng-if="members[i]!=undefined">
                    <div class="team-img-wrapper">
                        <img class="img-circle img-team wow flipInY" src="images/team/{{::members[i].img}}" />
                        <div class="team-img-hover">
                            <a ng-href="{{::members[i].in}}" class="social lnkdn wow flipInX" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a>
                        </div>
                    </div>
                    <h4 class="wow fadeInDown"><b ng-bind="members[i].name"></b></h4>
                    <h4 class="wow fadeInUp" ng-bind="members[i].des"></h4>
                    <a href="mailto:{{::members[i].email}}"><h5 class="wow fadeInUp" ng-bind="members[i].email"></h5></a>
                </div>
            </div>
        </div>
    </div>
</article>
