<article ng-controller="eventsCtrl">
    <div class="container-fluid main-content-container">
        
        <div class="row row-eq-height text-center events-pg">
            
            <div class="col-lg-12 col-md-12 events-pg-car" style=" margin-top:30px;">
                
                <div id="myCarousel" class="carousel slide eq-height" data-ride="carousel" style="margin-top: 20px;">
                    <!-- Indicators -->
                    <ul class="carousel-indicators-tabs">
                    <li data-target="#myCarousel" data-slide-to="0" class="active">CHEM</li>
                    <li data-target="#myCarousel" data-slide-to="1">COMPS</li>
                    <li data-target="#myCarousel" data-slide-to="2">BIZ</li>
                    <li data-target="#myCarousel" data-slide-to="3">SCE</li>
                    <li data-target="#myCarousel" data-slide-to="4">ASTRO</li>
                    <li data-target="#myCarousel" data-slide-to="5">MECH</li>
                    <li data-target="#myCarousel" data-slide-to="6">CIVIL</li>
                    <li data-target="#myCarousel" data-slide-to="7">MATERIALS</li>
                    <li data-target="#myCarousel" data-slide-to="8">TRONIX</li>
                </ul>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item" ng-repeat="(key,eventgrp) in events track by $index" ng-class="$index == 0 ? 'active '+key+'SVG' : ''+key+'SVG' " ng-class="true:key">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ng-include src="'partials/SVG/'+key+'.html'"></ng-include>
                                </div>
                                <div class="col-lg-6" style="text-align:justify !important;">
                                    <h2 class="" style="text-align:left !important;font-family: bit;color:#fff">{{eventTitles[$index]}}</h2>
                                    <ul class="nav nav-tabs events_tab" role="tablist">
                                      <li role="presentation" ng-repeat="event in eventgrp track by $index" ng-class="$index == 0 ? 'active' : '' "><a role="tab" data-toggle="tab" href="#{{::event.id}}">{{event.title}}</a></li>
                                    </ul>

                                    <div class="tab-content">
                                      <div role="tabpanel" ng-repeat="event in eventgrp track by $index" ng-class="$index == 0 ? 'active' : '' " id="{{::event.id}}" class="tab-pane">
                                        
                                        <p class="events_body">{{event.body}}</p>
                                        <a href="{{event.direct}}" ng-show="{{event.yes_no}}"><button class="btn btn-default">{{event.link}}</button></a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
</article>
