<div id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2" style="padding:15px !important; color:white;">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12" style="padding:15px !important; color:white;">
                <h4><b>EVENTS</b></h4>
                <a href="events.html?slide=6"><h5>MECHANICAL</h5></a>
                <a href="events.html?slide=1"><h5>COMPUTER</h5></a>
                <a href="events.html?slide=2"><h5>BIZ</h5></a>
                <a href="events.html?slide=9"><h5>TRONIX</h5></a>
                <a href="events.html?slide=7"><h5>CIVIL</h5></a>
                <a href="events.html?slide=8"><h5>MATERIALS</h5></a>
                <a href="events.html?slide=5"><h5>ASTRO</h5></a>
                <a href="events.html?slide=3"><h5>MINING</h5></a>
                <a href="events.html?slide=0"><h5>CHEMICAL</h5></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12" style="padding:15px !important; color:white;">
                <h4><b>SPECIAL EVENTS</b></h4>
                <a href="specials.html#/chronus"><h5>CHRONUS</h5></a>
                <a href="specials.html#/technites"><h5>TECHNITES</h5></a>
                <a href="specials.html#/engiconnect"><h5>ENGICONNECT</h5></a>
                <a href="specials.html#/arena"><h5>ARENA</h5></a>
                <a href="workshops.html"><h5>WORKSHOPS</h5></a>
                <a href="events.html?slide=4"><h5>SOCIALLY CONSCIOUS ENGINEERING</h5></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12" style="padding:15px !important; color:white;">
                <h4><b>KNOW MORE</b></h4>
                <a href="sponsors.html"><h5>SPONSORS</h5></a>
                <!-- <a href="#"><h5>BECOME A CR</h5></a> -->
                <a href="#"><h5>BROCHURE</h5></a>
                <a href="team.html"><h5>TEAM ENGI</h5></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" style="padding:15px !important; color:white;">
                <h4><B>CONNECT WITH US</B></h4>
                <a target="_blank" href="http://fb.com/engineernitk" class="social fb"><i class="fa fa-lg fa-facebook"></i></a>
                <a target="_blank" href="http://twitter.com/Engineer_NITK" class="social tw"><i class="fa fa-lg fa-twitter"></i></a>
                <a target="_blank" href="http://instagram.com/engineer2k16" class="social inst">
                    <div class="inst-inner"><i class="fa fa-lg fa-instagram"></i></div>
                </a>
                <a target="_blank" href="http://youtube.com/user/engineernitk" class="social yt"><i class="fa fa-lg fa-youtube-play"></i></a>
                <a href="#" class="social app"><i class="fa fa-lg fa-android"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center" style="padding:15px !important; padding-top:0px !important; color:white;">
                <hr style="margin-top:10px;" /> &copy; ENGINEER 2016, <a href="http://nitk.ac.in">NITK SURATHKAL</a>
            </div>
        </div>
    </div>
</div>
