<div id="footer">
    <div class="container-fluid">
        <div class="row" style="background-color: rgba(0, 0, 0, 0.5);position: fixed }">
            <div class="col-lg-10 col-md-2" style=" !important; color:white;">

                <ul class="footer" >
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="event1.html">EVENTS</a></li>
                    <li><a href="specials.html">SPECIALS</a></li>
                    <li><a href="workshops.html">WORKSHOPS</a></li>
                    <li><a href="sponsors.html">SPONSORS</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12" style=" !important; color:white;">
                <a target="_blank" href="http://fb.com/engineernitk" class="social"><img src="images/fb.png" ></a>
                <a target="_blank" href="http://twitter.com/Engineer_NITK" class="social"><img src="images/twitter.png" ></a>
                <a target="_blank" href="http://instagram.com/engineer2k16" class="social">
                    <img src="images/instagram.png" >
                </a>
                <a target="_blank" href="http://youtube.com/user/engineernitk" class="social"><img src="images/youtube.png" >
                <!-- <a href="#" class="social app"><i class="fa fa-lg fa-android"></i></a> -->
            </div>
        </div>
    </div>
</div>
