<article ng-controller="teamCtrl">
    
    <div class="container-fluid main-content-container">
        <div class="row" style="margin-top: 60px">
            <div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-10 col-md-10 text-center">
                <div id="penrose" style="">
                    <div id="ring" style="">
                    </div>
                </div>
                <img src="images/logos/engi16.png" id="engi16" style="margin-top: 5px"/>
                
            </div>
            <div class="col-lg-1 col-md-1">
            </div>
        </div>
        
    </div>
</article>
