<article ng-controller="teamCtrl">
    <button type="button" class="sidebar-toggle" style="margin-left: 10px;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="container-fluid main-content-container">
        <div class="row" style="min-height:100vh;">
            <div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-10 col-md-10 text-center">
                <div id="penrose" style="">
                    <div id="ring" style="height:300px">
                    </div>
                </div>
                <img src="images/logos/engi16.png" id="engi16" />
                <ul class="home-nav" style="font-family:'engi';">
                    <li><a href="events.html">EVENTS</a>
                        <div class="inner"></div>
                    </li>
                    <li><a href="workshops.html">WORKSHOPS</a>
                        <div class="inner"></div>
                    </li>
                    <li><a href="specials.html">SPECIALS</a>
                        <div class="inner"></div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-1 col-md-1">
            </div>
        </div>
        
    </div>
</article>
