<!-- Sidebar -->
<div id="sidebar-wrapper">
    <button type="button" class="sidebar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="sidebar-brand text-center">
        <img style="width:150px;" src="images/logos/engi-logo.png" />
    </div>
    <ul class="sidebar-nav">
        <li>
            <a href="index.html">HOME<div class="inner"></div></a>
        </li>
        <li>
            <a href="about.html">ABOUT<div class="inner"></div></a>
        </li>
        <li>
            <a href="events.html">EVENTS<div class="inner"></div></a>
        </li>
        <li>
            <a href="specials.html">SPECIALS<div class="inner"></div></a>
        </li>
        <li>
            <a href="workshops.html">WORKSHOPS<div class="inner"></div></a>
        </li>
        <li>
            <a href="sponsors.html">SPONSORS<div class="inner"></div></a>
        </li>
        <li>
            <a href="team.html">TEAM<div class="inner"></div></a>
        </li>
        <li>
            <a href="contact.html">CONTACT<div class="inner"></div></a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
