
<article ng-controller="specialsCtrl">
    <div class="container-fluid main-content-container">
        
        <div class="row row-eq-height" style=" margin-top:70px;">
            <div class="col-lg-1 col-md-1 "></div>
            <div class="col-lg-10 col-md-10 " style="background-color: rgba(0, 0, 0, 0.7); box-shadow: 0 0 5px #555; padding:20px !important; color:#fff">
           <div class="row " style="padding:20px !important; " ng-repeat="special in specials ">
            <div class="col-lg-1 "></div>
            <div class="col-lg-10 " id="{{::special.id}}">
                <h4 class="wow fadeInDown" style="font-family: bit;font-size: 30px">{{special.name}}</h4>
                <p ng-bind-html="special.content" style="font-size:16px;font-weight: bold"></p>
                
            </div>
            <div class="col-lg-1 "></div>
        </div></div>
            
        </div>
    </div>
</article>
