<article ng-controller="workshopsCtrl">
    <div class="container-fluid main-content-container">
        <div class="row" style="background:url('images/bg/workshops.jpg'); background-size:auto 400px;">
            <div class="col-lg-12 text-center" style="padding:20px !important; margin-top:20px; height:200px;">
                <h1 class="wow slideInDown"><b>WORKSHOPS</b></h1>
            </div>
        </div>
        <div class="row text-center" style="padding:20px !important;">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-10 col-md-10" style="background:white;  padding:20px; margin-top:-100px; box-shadow:0 0 5px #777;">
                <p style="font-size:16px; text-align:justify; margin:20px;">A technical fest is synonymous to the ‘workshops’ it holds and when the fest happens to be Engineer at NITK, it is bound to be invigorating! Every passing year has seen a commendable growth in the multitude of workshops conducted here, varying from Robotics and Aeromodeling to Forensics and Photography. They focus not only on improving the known knacks but also developing technical dexterity from the scratch.
                    <br/> Attributing to the proficient masters and resources, the workshops attract students from far and near. Engineer ’15 recorded a total of 3000 registrations (excluding spot registrations) for workshops alone!</p>
                <br/>
                <div class="row" style="margin-top:15px;">
                    <div class="col-lg-4 col-md-4">
                        <div class="wow fadeInUp">
                            <img src="images/workshops/big_data.jpg" style="height:150px;" />
                            <h4>Big Data</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="wow fadeInUp">
                            <img src="images/workshops/iot.png" style="height:150px;" />
                            <h4>Internet of Things</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="wow fadeInUp">
                            <img src="images/workshops/ethical_hacking.jpg" style="height:150px;" />
                            <h4>Ethical Hacking</h4>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:25px;">
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-5 col-md-5">
                        <div class="wow fadeInUp">
                            <img src="images/workshops/ugv.jpg" style="height:150px;" />
                            <h4>Unmanned Guided Vehicle</h4>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="wow fadeInUp">
                            <img src="images/workshops/vehicle_overhauling.jpg" style="height:150px;"/>
                            <h4>Vehicle Overhauling</h4>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1"></div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1"></div>
        </div>
    </div>
</article>
